@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

:root {
  --theme-green: #154734;
  --theme-off-green: #243f3f;
  --theme-selection: #2a2e2d;
  --theme-lighter-grey: #545756;
}


body {
  font-family: 'Lora', sans-serif !important;
}

h1, h2, h3, h4 {
  font-family: 'Lora', sans-serif !important;
  text-align: center;
  font-weight: bold;
}
  
/* Header ------------------------------------------ */
/* Main title */
.main-header .logo {
  font-family: 'Lora', sans-serif !important;
  font-weight: bold;
}

.main-header .logo:hover {
  background-color: var(--theme-green) !important;
  color: white;
}
  
.skin-green .main-header .navbar {
  background-color: var(--theme-green);
}
.skin-green .main-header .logo {
  background-color: var(--theme-green);
}


/* Sidebar ----------------------------------------- */
.skin-green .main-sidebar {
  background-color: #454545 !important;
}

.skin-green .sidebar-menu > li > a {
  display: block;
  align-items: center;
  justify-content: center;
  border: 1px solid #000 !important;
  transition: all 0.3s ease;
  border-radius: 2px;
  background-color: var(--theme-selection);
}

.skin-green .sidebar-conditional-text {
  text-align: center; 
  width: 100%; 
  white-space: normal;
  overflow-wrap: break-word; 
  padding: 10px;
  background-color: var(--theme-lighter-grey);
}

.skin-green .sidebar-menu > li.active > a {
  color: #fff;
  background: var(--theme-off-green) !important;
}

.skin-green .sidebar-menu > li.hover > a {
  color: #fff;
  background: var(--theme-selection) !important;
}

  

/*
.body-header-1 {
  color: #2F4F4F !important;
  font-weight: bold !important;
  text-align: center !important;
}

.body-header-2 {
  color: #2F4F4F !important;
  font-weight: bold !important;
}

.body-header-3 {
  color: #2F4F4F !important;
  font-weight: bold !important;
}

.body-header-4 {
  color: #2F4F4F !important;
  font-weight: bold !important;
}
*/

/* Boxes ------------------------------------------ */
.dashboard {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 1px !important;
  padding: 1px !important;
  margin: 1px !important;
}

.box {
  border: 1px solid #000 !important;
  /*
  padding: 0px !important;
  margin: 0px !important;
  */
}

.box.box-solid.box-primary > .box-header {
  /*
  padding: 10;
  */
  color: white;
  background: var(--theme-off-green);
  text-align: center;
}


/* Action Buttons --------------------------------- */
.button-box {
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 10px 10px 10px 10px; /* insides */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0 auto 10px auto; /* outsides: top side bottom side */
  width: 100%;
  border-width: 1px;
}

.btn.action-button {
  color: #fff;
  background-color: var(--theme-green) !important;
  border: 1px solid #000000 !important;
  border-radius: 3px;
  border-width: 1px,

  display: block;
  box-sizing: border-box;
  margin: 0 auto 10px auto;
  width: 100%;
}

.action-button:hover {
  background-color: var(--theme-selection) !important;
  color: #fff !important;
  border: 1.25px solid #000000 !important;
}

/*
.action-button:active {
  background-color: var(--theme-off-green) !important;
  background-color: '#fff';
  color: #fff !important;
  border: 1.25px solid #000000 !important;
}
*/


/* Regular Checkbox ----------------------------------------------- */
/* not sure we even have any of these, they are janky */
input[type="checkbox"] {
  accent-color: var(--theme-green);
}

input[type="checkbox"]:checked {
  accent-color: var(--theme-green);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}


/* Awesome Checkbox ----------------------------------------------- */
.awesome-checkbox label::before {
  border: 1px solid #000000;
  background-color: white;
}
/* Why does it still look like there is a blue border? */

.awesome-checkbox input:checked + label::before {
  background-color: var(--theme-green) !important;
  border-color: #000000;
}

/* Styled Checkbox - reusable class */
.styled-checkbox {
  display: block;
  margin-bottom: 10px;
}


/* Awesome bttn ------------------------------------------ */
.bttn-unite {
  font-size: 16px !important;
  padding: 5px !important;
  
  border-radius: 3px !important;
  background-color: var(--theme-green) !important; 
  color: white !important;
  border: 1px solid #000000 !important;

  display: block !important;
  box-sizing: border-box !important;
  margin: 0 auto 10px auto !important;
  width: 100% !important;

  transition: color .3s cubic-bezier(.02, .01, .47, 1),
  border-color .3s cubic-bezier(.02,.01,.47,1);
  transition-property: color, border-color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: cubic-bezier(0.02, 0.01, 0.47, 1), cubic-bezier(0.02, 0.01, 0.47, 1);
    transition-delay: 0s, 0s;
}

.bttn-unite:hover { /* this doesnt last long if at all? */
  color: white !important;
  border-color: #000000 !important;
  background-color: #000000 !important; /* right before animation */
}

.bttn-unite:hover::before {
  background: var(--theme-off-green) !important; /* comes in from left in animation */
}

.bttn-unite:hover::after {
  background: var(--theme-lighter-grey) !important; /* comes in from left in animation */
}

.bttn-unite:active {
  background-color: var(--theme-off-green) !important; /* while clicking */
  border-color: #000000 !important;
}

.bttn-unite:active::before,
.bttn-unite:active::after {
  background: var(--theme-off-green) !important;
}

.bttn-unite:focus {
  outline: none !important;
}

.bttn-unite:focus::before,
.bttn-unite:focus::after {
  background: transparent !important;
}
