@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body {
  font-family: 'Lora', sans-serif !important;
}

h1, h2, h3, h4 {
  font-family: 'Lora', sans-serif !important;
  text-align: center;
  font-weight: bold;
}
  
/* Main title */
.main-header .logo {
  font-family: 'Lora', sans-serif !important;
  font-weight: bold;
  /* font-size: 24px; */
  color: #red !important;
}

.skin-green .main-header .navbar {
  background-color: #243f3f;
}
.skin-green .main-header .logo {
  background-color: #243f3f;
}


/*
.skin-green .main-sidebar .sidebar {
  background-color: #454545;
}

.sidebar-menu > li.active > a,
.sidebar-menu > li > a:hover {
  background-color: #3c8dbc !important;
  color: #ffffff !important;
}

.sidebar-menu > li > a > .fa {
  color: #b8c7ce !important;
}

.sidebar-menu > li.active > a > .fa,
.sidebar-menu > li > a:hover > .fa {
  color: #ffffff !important;
}
*/


/*
.body-header-1 {
  color: #2F4F4F !important;
  font-weight: bold !important;
  text-align: center !important;
}

.body-header-2 {
  color: #2F4F4F !important;
  font-weight: bold !important;
}

.body-header-3 {
  color: #2F4F4F !important;
  font-weight: bold !important;
}

.body-header-4 {
  color: #2F4F4F !important;
  font-weight: bold !important;
}
*/

/* box around button groups */
.button-box {
  border: 2px solid #243f3f;
  border-radius: 4px;
  padding: 10px 10px 10px 10px; /* insides */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0 auto 10px auto; /* outsides: top side bottom side */
  width: 100%;
  border-width: 1px;
}

.action-button {
  color: #fff;
  background-color: #243f3f !important;
  border: 1px solid #000000 !important;
  border-radius: 3px;
  border-width: 1px,

  display: block;
  box-sizing: border-box;
  margin: 0 auto 10px auto;
  width: 100%;
}

.action-button:hover {
  color: #000000 !important;
}
